<h1>Record Show</h1>
	<p>
		<b>Title:</b> <%=@bug.title%>
	</p>

	<p>
		<b>Deadline:</b> <%=@bug.deadline%>
	</p>

	<div style="width:400px; height:auto">
	</div>
<%= link_to 'Back', user_project_bugs_path %>